<section class="phx-hero">
  <h1><%= gettext "Milanized!" %></h1>
</section>

<%= if @lastTranslations != nil do %>
  <section>
    <div>
      <p><strong><%= elem(hd(@lastTranslations),1) %></strong></p>
      <p>Testo iniziale:</br><em><%= elem(hd(@lastTranslations),0) %></em></p>
    </div>
<% end %>

    </br>

    <p>
      <%= button "Back", to: Routes.page_path(@conn, :index), method: "get" %>
    </p>
  </section>
