<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Milanizer" %></h1>
  <p>Impara a parlare come un vero milanese<br/>Rendi le tue slide di presentazione uniche!</p>
</section>

<section>
  <%= form_for @conn, Routes.page_path(@conn, :create), fn f -> %>
    <%= label f, :'Inserisci il testo:', class: "control-label" %>
    <%= textarea f, :text, placeholder: "Esempio: Trovare il corretto obiettivo sul tuo lavoro nel tuo contesto in base alle tue esigenze" %>
    <%= submit "Milanize" %>
  <% end %>

  </br>

  <%= if @lastTranslations != nil do %>
    <h2>Traduzioni precedenti:</h2>
    <blockquote>
      <div>
        <dl>
        <%= for {origText, milanText} <- @lastTranslations do %>
          <dt><strong><%= milanText %></strong></dt>
          <dd>Testo iniziale:</br><em><%= origText %></em></dd>
          </br>
        <% end %>
        </dl>
      </div>
    </blockquote>
    <%= button "Clear History", class: "button button-clear", to: Routes.page_path(@conn, :index, clearHistory: true), method: "post" %>
  <% end %>
</section>
